<ion-view view-title="My Account">
  <ion-content>
    <div class="list">

      <form name="my_account">
        <div class="list-item">
          <label class="item item-input">Name</lable>
          <input type="text" name="name" ng-model="name"></input>
        </div>
        <div class="list-item">
          <label class="item item-input">DoB</lable>
          <input type="date" name="dob" ng-model="dob"></input>
        </div>
        <div class="user_name">
          <label class="item item-input">Email</lable>
          <input type="text" name="email" ng-model="email"></input>
        </div>
        <div class="user_name">
          <label class="item item-input">User Name</lable>
          <input type="text" name="user_name" ng-model="user_name"></input>
        </div>
        <div class="list-item">
          <label class="item item-input">Password</lable>
          <input type="text" name="password" ng-model="password"></input>
        </div>
        <div class="list-item">
          <label class="item item-input">Confirm Password</lable>
          <input type="text" name="confirm_password" ng-model="confirm_password"></input>
        </div>




        <div class="button">
          <input type="submit" value="Update" ng-click="RegisterCtrl()"></input>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
