<!-- <div class="bar bar-header bar-energized">
<h1 class="title">My Login</h1>
</div> -->
<ion-view view-title="My Login">
  <div class="bar bar-header bar-energized">
  <h1 class="title">My Login</h1>
  </div>
  <div class="bar bar-header bar-energized" style="margin-top: 40px">
    <h1 class="title">My Login</h1>
  </div>
  <ion-content>


    <div class="list list-inset" style="margin-top: 80px">
      <label class="item item-input">
        <input type="text" name="user_name" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="password" name="password" placeholder="Password">
      </label>
      <button name="login" ng-click="loginUser()" class="button button-full button-energized">
        Login
      </button>
    </div>
  </div><br><br>
      <div class="list list-inset">
      <button name="register" class="button button-full button-balanced">
        Register
      </button>
    </div>
  </ion-content>
  <br>
  <br>






</ion-view>
