<ion-view view-title="Profile">
  <ion-content>
    <div class="bar bar-header bar-energized">
      <h1 class="title">Card Menu</h1>
    </div>
<div class="list list-inset" style="margin-top : 10px">

  <label class="item item-input item-select" style="margin-top:40px">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
</div>
<div class="list card">
  <div class="item item-avatar">
    <i class="ion-social-twitter-outline"></i>
    <h2>Twitter</h2>
  </div>
</div>
<div class="list card">
  <div class="my_icon">
    <i class="my_icon"></i>
    <h2>Facebook</h2>
  </div>
</div>
<div class="list card">
  <div class="item item-avatar">
    <i class="ion-social-googleplus"></i>
    <h2>Goolge+</h2>
  </div>
</div>

    <!-- <label class="item item-input">{{user.name}}</label>
    <label class="item item-input">{{user.email}}</label>
    <label class="item item-input">{{user.username}}</label>
    <label class="item item-input">{{password}}</label> -->

  </ion-content>
</ion-view>
